## 5. GROUP BY Y APPLY, EXERCIZES

july 29,2025


#1.Total de unidades vendidas por país de origen del vendedor. Debéis agrupar los datos según el país de origen del vendedor y calcular el total de unidades vendidas para cada país. Esto nos dará una idea de qué países tienen una mayor participación en las ventas totales y cuáles tienen menos. Devuelve los resultados en un DataFrame ordenados de mayor a menor en función de la cantidad de unidades vendidas.

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('/Users/alejandramartinsevilla/Desktop/merchant_fill.csv')

In [7]:
df.head(3)

display(df.head(3))

,Unnamed: 0,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
2,2,Nouvelle mode d'été femmes robe décontractée c...,4.9,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1573 non-null   int64
 1   title                        1573 non-null   object
 2   price                        1573 non-null   float64
 3   retail_price                 1573 non-null   int64
 4   units_sold                   1573 non-null   int64
 5   uses_ad_boosts               1573 non-null   int64
 6   rating_sold                  1573 non-null   float64
 7   rating_count                 1573 non-null   int64
 8   rating_five_count            1528 non-null   float64
 9   rating_four_count            1528 non-null   float64
 10  rating_three_count           1528 non-null   float64
 11  rating_two_count             1528 non-null   float64
 12  rating_one_count             1528 non-null   float64
 13  badge_local_product          1573 non-null   int64
 14  badge_product_quality        1573 non-null   int64
 15  badge_fast_shipping          1573 non-null   int64
 16  tags                         1573 non-null   object
 17  product_color                1532 non-null   object
 18  product_variation_size_id    1559 non-null   object
 19  shipping_option_name         1573 non-null   object
 20  shipping_option_price        1573 non-null   int64
 21  shipping_is_express          1573 non-null   int64
 22  countries_shipped_to         1573 non-null   int64
 23  inventory_total              1573 non-null   int64
 24  origin_country               1556 non-null   object
 25  merchant_name                1569 non-null   object
 26  merchant_info_subtitle       1279 non-null   object
 27  merchant_rating_count        1573 non-null   int64
 28  merchant_rating              1573 non-null   float64
 29  merchant_id                  1573 non-null   object
 30  product_url                  1573 non-null   object
 31  product_id                   1573 non-null   object
 32  listed_products              1573 non-null   int64
 33  total_units_sold             1573 non-null   int64
 34  mean_units_sold_per_product  1573 non-null   float64
 35  rating_employee              1573 non-null   float64
 36  merchant_ratings_count       1573 non-null   float64
 37  mean_product_prices          1573 non-null   float64
 38  mean_retail_prices           1573 non-null   float64
 39  average_discount             1573 non-null   float64
 40  mean_discount                1573 non-null   float64
 41  mean_product_ratings_count   1573 non-null   float64
dtypes: float64(16), int64(15), object(11)
memory usage: 516.3+ KB

In [14]:
df_units_by_country = df.groupby( "origin_country")["units_sold"].sum().reset_index(name='units_by_country').sort_values(by='units_by_country', ascending=False)
display(df_units_by_country.head())

  origin_country  units_by_country
1             CN           6651245
4             US             43560
3             SG             20100
2             GB              1000
5             VE               350

#2.Estadísticas de precio por país de origen. Vamos a explorar el precio promedio y el precio máximo de los productos según el país de origen. Al hacer esto, podremos entender cómo varían los precios según el país de origen y si hay alguna tendencia interesante que valga la pena analizar. Devuelve los resultados en un DataFrame.

In [43]:
df_price_by_country = df.groupby("origin_country")["retail_price"].agg(['mean', 'max']).reset_index().sort_values(by='mean', ascending=False)
df_price_by_country.columns = ['origin_country', 'average_price', 'max_price']
df_price_by_country['average_price'] = df_price_by_country['average_price'].astype(float).round(1)
df_price_by_country['max_price'] = df_price_by_country['max_price'].astype(float).round(1)
df_price_by_country = df_price_by_country.sort_values(by='average_price', ascending=False)
display(df_price_by_country.head())

  origin_country  average_price  max_price
5             VE           35.4       51.0
4             US           29.6       84.0
1             CN           23.3      252.0
2             GB            8.0        8.0
0             AT            6.0        6.0

In [ ]:
df_price_by_country.describe().astype(float).round(1)
df_pd.concat([df_price_by_country, df[["origin_country"]]], axis=1)

head(3)

SyntaxError: invalid syntax (1028838151.py, line 2)