In [2]:
import pandas as pd

In [ ]:

# EJERCICIO DE SERIES (UNIDIMENSIONAL)
# 1. Crea una serie con números correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario):
    #Cambia el indice de la serie anteriormente creada para que comience con el numero 20.
   # Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).
   # Muestra los valores que están en la posición 3 y 8 de mi serie.
   # Muestra los valores que están etiquetados en enero y agosto.
   # Muestra sus valores, indices, forma, tamaño y el tipo de elementos de la serie.

In [4]:
lista_numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
serie_numeros = pd.Series(lista_numeros,index=range(20, 32))

In [5]:
serie_numeros

20     1
21     2
22     3
23     4
24     5
25     6
26     7
27     8
28     9
29    10
30    11
31    12
dtype: int64

In [7]:
serie_numeros.head (3)

20    1
21    2
22    3
dtype: int64

In [10]:
serie_numeros= pd.Series([1,2,3,4,5,6,7,8,9,10,11,12], index=["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"])

In [12]:
serie_numeros.head(3)

Enero      1
Febrero    2
Marzo      3
dtype: int64

In [ ]:
serie_numeros.values[0] #Enero

1

In [ ]:
serie_numeros.values[7] #Agosto

8

In [38]:
serie_numeros.index [3]

'Abril'

In [39]:
serie_numeros.index [8]

'Septiembre'

In [40]:
serie_numeros.index

Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
       'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')

In [42]:
serie_numeros.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [43]:
serie_numeros.shape

(12,)

In [44]:
serie_numeros.size

12

In [45]:
serie_numeros.dtype

dtype('int64')

In [62]:
#convertir una lista en un diccionario
diccionario = {
    "meses" : ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    "numeros" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
} 

print(diccionario)

{'meses': ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], 'numeros': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}

In [ ]:
#convertir un diccionario en un dataframe
df_diccionario = pd.DataFrame(diccionario)
display(df_diccionario.head(3)) #imprimir en formato bonito los 3 pirmeros valores del dataframe

     meses  numeros
0    Enero        1
1  Febrero        2
2    Marzo        3

In [ ]:
df_diccionario.tail(3) #imprimir en formato bonito los 3 ultimos valores del dataframe

        meses  numeros
9     Octubre       10
10  Noviembre       11
11  Diciembre       12

In [ ]:
df_diccionario.shape #12 filas y 2 columnas *bidimensional)

(12, 2)

In [67]:
df_diccionario.columns #columnas del dataframe

Index(['meses', 'numeros'], dtype='object')

In [68]:

#2. EJERCICIO DE DATAFRAMES (Bidimensional)
# Abre el fichero de rating-and-performance con el método que sea más correcto. Además muestra las 5 primeras filas del DataFrame.

df_rating_and_performance = pd.read_csv("/Users/alejandramartinsevilla/Downloads/spaces-o50fZDRQYNgRINpMJz49-uploads-git-blob-c1c10e8f39ba5f814f77ecb77c93154834b00430-rating-and-performance.csv")
df_rating_and_performance.head(3)

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.0,43,EUR,100,0,3.57,14,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08

In [ ]:
df_rating_and_performance.loc[:, "price"]#seleccionar la columna de precios
type(df_rating_and_performance.loc[:, "price"]) #ver el tipo de datos de la columna seleccionada

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

In [77]:
type(df_rating_and_performance.loc[:, "price"]) #ver el tipo de datos de la columna seleccionada

pandas.core.series.Series

In [83]:
df_rating_and_performance.loc[:, ["price", "retail_price"]] #seleccionar la columna de precios

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

In [84]:
df_rating_and_performance.loc[:, ["rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count"]] #seleccionar la columna de precios

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
3,4.03,579,295.0,119.0,87.0,42.0,36.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
...,...,...,...,...,...,...,...
1568,4.08,1367,722.0,293.0,185.0,77.0,90.0
1569,3.07,28,11.0,3.0,1.0,3.0,10.0
1570,3.71,59,24.0,15.0,8.0,3.0,9.0
1571,2.50,2,0.0,1.0,0.0,0.0,1.0
1572,4.07,14,8.0,3.0,1.0,0.0,2.0

In [88]:
#Extraed las las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000
df_rating_and_performance[(df_rating_and_performance["price"] < 10) & (df_rating_and_performance["units_sold"] > 5000)].head(3)

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
6,6,Women Fashion Loose Lace Blouse Blouse V Neck ...,Women Fashion Loose Lace Blouse V Neck Bat Sle...,7.0,6,EUR,50000,0,3.84,6742,...,10194,4.076516,5652f4053a698c76dc9a3f37,1,https://s3-us-west-1.amazonaws.com/sweeper-pro...,https://www.wish.com/c/5c63a337d5e2ce4bbb3152cf,https://contestimg.wish.com/api/webimage/5c63a...,5c63a337d5e2ce4bbb3152cf,summer,2020-08
14,14,2019 Summer Women's Fashion Nouvelle robe sans...,2019 Summer Women's Fashion New Sleeveless Pol...,2.0,2,EUR,20000,1,3.65,2457,...,55499,4.138885,5926c5ace8ff5525241b368d,0,NaN,https://www.wish.com/c/5cc2ce18bc97595b6549fa14,https://contestimg.wish.com/api/webimage/5cc2c...,5cc2ce18bc97595b6549fa14,summer,2020-08

In [97]:
iloc_price = df_rating_and_performance.iloc[ : , 3]#seleccionar la columna de precios
iloc_price.head(3)

0    16.0
1     8.0
2     8.0
Name: price, dtype: float64

In [98]:
df_rating_and_performance.iloc[:, [3,4]] #seleccionar la columna de precios

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

In [103]:
df_rating_and_performance.iloc[:, 8:15] #seleccionar la columna de precios

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
3,4.03,579,295.0,119.0,87.0,42.0,36.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
...,...,...,...,...,...,...,...
1568,4.08,1367,722.0,293.0,185.0,77.0,90.0
1569,3.07,28,11.0,3.0,1.0,3.0,10.0
1570,3.71,59,24.0,15.0,8.0,3.0,9.0
1571,2.50,2,0.0,1.0,0.0,0.0,1.0
1572,4.07,14,8.0,3.0,1.0,0.0,2.0

In [111]:
df_rating_and_performance.loc[(df_rating_and_performance.price > 20) & (df_rating_and_performance.rating <= 4.08)].head(2) #seleccionar las filas donde el precio sea mayor que 20 y la calificación sea 4.08

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
196,196,Mode féminine Vintage évider robe en dentelle ...,Women's Fashion Vintage Hollow Out Lace Dress ...,22.0,169,EUR,1000,1,3.38,542,...,9341,4.147415,5b7ecbfa7956ef54b750df16,0,NaN,https://www.wish.com/c/5c6275876c0cb22f5e6ba570,https://contestimg.wish.com/api/webimage/5c627...,5c6275876c0cb22f5e6ba570,summer,2020-08
467,467,Palm Angels Sanskrit T-shirt court Hip Hop Str...,Palm Angels Sanskrit Short T-shirt Hip Hop Str...,22.0,159,EUR,1000,0,4.04,235,...,541,4.097967,55e51e53c9f8235d17759948,0,NaN,https://www.wish.com/c/5e573e6360f35b2661fff9dc,https://contestimg.wish.com/api/webimage/5e573...,5e573e6360f35b2661fff9dc,summer,2020-08